################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/netbullAPI/.vs/netbullAPI
/netbullAPI/netbullAPI/obj
/netbullAPI/netbullAPI/bin/Debug/net6.0
/netbullAPI/netbullAPI-Testes/obj
